html {

    --text: #ffffff;
    --background: #000000;
    --primary: #FA0085;
    --secondary: #d7c900;
    --accent: #04009f;
}

body {
    color: var(--text);
    background: var(--background);
}

img {
    padding: 10px;
    border: 10px solid var(--secondary);
    border-radius: 1000px;
    background: var(--primary);
    width: 300px;
}

li,
p {
    color: var(--secondary);
    font-family: "Abyssinica SIL";
    margin: 20px

}

h3 {
    color: var(--accent);
    font-family: "Ubuntu";
    font-size: medium;
    text-decoration: underline;
    padding: 50px
}

h1,
h2 {
    color: var(--primary);
    font: bold 2em "Ubuntu", sans-serif;
    padding: 25px;
    height: 50px;
}

h2 {
    padding:5px;
    height: 10px;
}

audio {
    border: 6px solid var(--accent);
    border-radius: 100px;
    margin: 20px
}

a {
    color: var(--secondary);
    font-family: "Abyssinica SIL";
    font-weight: 900;
    font-size: x-large;
    margin: 30px
}
